*.DS_Store

# Ignore tracking results
# /runs/detect/track
/runs/detect/track2

# Ignore datasets
/datasets

#  Ignore epochs train weights
/runs/detect/train_general/weights
/runs/detect/train_cuban_sim/weights
/runs/detect/train_cuban_rand/weights